# Ignore node_modules directory
node_modules/

# Ignore .vitepress/dist directory (generated build output)
.vitepress/dist/

# Ignore .cache directory (Vite cache)
.cache/

# Ignore .DS_Store files (macOS specific)
.DS_Store

# Ignore .vscode directory (Visual Studio Code specific)
.vscode/

# Ignore .idea directory (IntelliJ IDEA specific)
.idea/

# Ignore .venv directory (Python virtual environment specific)
.venv/
